{% extends "layouts/front-end/base.njk" %}
{% block title %}Accueil{% endblock %}

{# --- CHANGEMENT DE COULEUR ICI --- #}
{% block bubble_color %}rose{% endblock %}

{% block main %}
    <section class="grid grid-cols-1 lg:grid-cols-[1fr_24rem] gap-x-6 gap-y-4 mb-6">
        <h1 class="text-3xl font-bold lg:col-span-2 mt-6 lg:mt-0">Articles sur le BUT MMI</h1>

        <ul class="flex md:flex-row sm:landscape:flex-col flex-col lg:flex-col gap-6">
            {% for item in list_articles.data %}
                <li>
                    <a class="flex flex-col sm:max-lg:landscape:flex-row w-full shadow-sm hocus:shadow-xl transition-shadow rounded-lg overflow-hidden" href="">
                        <div class="aspect-25/14 overflow-hidden">
                            {% if item.image %}
                                <img class="object-cover h-full w-full" src="{{ upload_url ~ item.image }}" alt="Image de l'article">
                            {% else %}
                                <img class="object-cover h-full w-full" src="/images/image-placeholder-article.png" alt="">
                            {% endif %}
                        </div>

                        <section class="p-8 pb-11">
                            <h2 class="text-2xl font-bold">{{ item.title }}</h2>
                            <p>{{ item.content }}</p>

                            {% if item.author and item.author.firstname %}
                                <p class="italic text-gray-600 mt-8 text-right">
                                    Par {{ item.author.firstname }} {{ item.author.lastname }}
                                </p>
                            {% else %}
                                <p class="italic text-gray-600 mt-8 text-right">
                                    Par la rédaction
                                </p>
                            {% endif %}
                        </section>
                    </a>
                </li>
            {% else %}
                <li>
                    <p>Aucun article pour le moment.</p>
                </li>
            {% endfor %}
        </ul>

        <a class="jpo-banniere rounded-lg overflow-hidden order-first lg:order-none" href="https://www.cyu.fr/formation/construire-son-projet/salons-journee-portes-ouvertes" title="Ouverture dans un nouvel onglet">
            <div class="logo">
                <img src="/images/logo-cyu-blanc.png" width="200" alt="">
            </div>
            <section class="textes">
                <p class="text-2xl">Journée portes ouvertes</p>
                <p class="text-4xl mb-3">
                    12/02/2026,
                    <br>
                    de 10h à 17h
                </p>
                <p class="en-savoir-plus">EN SAVOIR PLUS</p>
            </section>
        </a>
    </section>
{% endblock %}